<template>

    <table v-if="sources.length" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Resources</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in sources">
            <td>{{ item.name }}
                <div>
                    <router-link :to="'/sources/'+item.id+'/createAssay'" class="label label-primary control-label">create assay</router-link>
                    <a href="" class="label label-primary  control-label">show details</a>
                </div>
            </td>
            <td>
                <table v-if="item.resources.length" class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in item.resources">
                        <td>{{ item.name }}</td>
                    </tr>
                    </tbody>
                </table>
                
            </td>
        </tr>
        </tbody>
    </table>
</template>


<script src="./source.ts"></script>
