<template>
    <div class="main-nav bg-dark navbar-dark">
        <div class="navbar flex-column">
            
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="navbar-brand" href="/">Workshop.WebApp</a>
                    <hr/>
                </li>
                <li class="nav-item">
                    <router-link class="navbar-text nav-link" to="/" :exact="true">Home</router-link>
                </li>

                <li class="nav-item">
                    <router-link class="navbar-text nav-link" to="/resources">Ресурсы</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="navbar-text nav-link" to="/sources">Источники</router-link>
                </li>
            </ul>
        </div>

    </div>
</template>

<style src="./navmenu.css"/>
